<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.drlulz.alfred-anki</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07C395C0-22EE-42C5-AEAB-23C8C89A1A16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E023588C-C937-477E-95F3-D5FCB39CE066</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>251794FB-CD3B-4B00-93AF-AFB8F30AA0CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2FAFC5B4-42AC-4AC7-96FA-09741195EC8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>38D73775-BE96-4282-9F1B-EAD359AF5ABA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E55F23C-DF0B-43B7-B400-8AB7A748A1EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5E55F23C-DF0B-43B7-B400-8AB7A748A1EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FAFC5B4-42AC-4AC7-96FA-09741195EC8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C99F41D-20A1-48F9-A206-76BC4B368438</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>251794FB-CD3B-4B00-93AF-AFB8F30AA0CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B8B91604-B547-43A9-B948-A3999584D5FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9C4581F-3BC3-491C-9E5C-198170FFF750</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9C4581F-3BC3-491C-9E5C-198170FFF750</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E023588C-C937-477E-95F3-D5FCB39CE066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E3998C84-01CF-45F0-A6C1-FEECF426542F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6230B02-5A98-4003-B060-BC2B6B31DCF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC1788CD-B05D-421C-BAE5-DA5B0174DEE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8B91604-B547-43A9-B948-A3999584D5FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F6230B02-5A98-4003-B060-BC2B6B31DCF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>DrLulz</string>
	<key>description</key>
	<string>v1.0.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Anki</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>:anki ‣</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python anki.py list "{query}"</string>
				<key>subtext</key>
				<string>Search for deck: {query}</string>
				<key>title</key>
				<string>Search for deck...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C99F41D-20A1-48F9-A206-76BC4B368438</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python proxy.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>251794FB-CD3B-4B00-93AF-AFB8F30AA0CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>:aset ‣</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python anki.py set "{query}"</string>
				<key>title</key>
				<string>Anki Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E3998C84-01CF-45F0-A6C1-FEECF426542F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python proxy.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6230B02-5A98-4003-B060-BC2B6B31DCF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env python

from lib.workflow import Workflow
wf = Workflow()
wf.settings['anki_path'] = "{query}"

print('Saved Anki Path')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E023588C-C937-477E-95F3-D5FCB39CE066</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>:apath ‣</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python anki.py apath "{query}"</string>
				<key>subtext</key>
				<string>Example: /Users/HOME/Documents/Anki/USER/collection.anki2</string>
				<key>title</key>
				<string>Anki Collection Path</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07C395C0-22EE-42C5-AEAB-23C8C89A1A16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python new_card.py "{query}"</string>
				<key>title</key>
				<string>{query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B8B91604-B547-43A9-B948-A3999584D5FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python proxy.py card new</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9C4581F-3BC3-491C-9E5C-198170FFF750</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>add_card</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>EC1788CD-B05D-421C-BAE5-DA5B0174DEE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>/usr/bin/python new_tags.py "{query}"</string>
				<key>subtext</key>
				<string>Add tags</string>
				<key>title</key>
				<string>{query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5E55F23C-DF0B-43B7-B400-8AB7A748A1EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python proxy.py card tags "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FAFC5B4-42AC-4AC7-96FA-09741195EC8F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>add_tags</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>38D73775-BE96-4282-9F1B-EAD359AF5ABA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07C395C0-22EE-42C5-AEAB-23C8C89A1A16</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>251794FB-CD3B-4B00-93AF-AFB8F30AA0CC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2FAFC5B4-42AC-4AC7-96FA-09741195EC8F</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>38D73775-BE96-4282-9F1B-EAD359AF5ABA</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>5E55F23C-DF0B-43B7-B400-8AB7A748A1EA</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>798FE243-D054-47E9-8CD3-0FFFCA6AD7F1</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>7C99F41D-20A1-48F9-A206-76BC4B368438</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B8B91604-B547-43A9-B948-A3999584D5FB</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C9C4581F-3BC3-491C-9E5C-198170FFF750</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>E023588C-C937-477E-95F3-D5FCB39CE066</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>E3998C84-01CF-45F0-A6C1-FEECF426542F</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>EC1788CD-B05D-421C-BAE5-DA5B0174DEE9</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F6230B02-5A98-4003-B060-BC2B6B31DCF3</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://neurolyte.net</string>
</dict>
</plist>
